<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="font-weight: 100">
      <ion-icon name="chatboxes"></ion-icon> City Board
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<!--<ion-searchbar [(ngModel)]="city" (ionChange)="searchByCity($event)"></ion-searchbar>-->

<h3 style="text-align: center;font-weight:100">Hello {{username}} ,select your province</h3>

<ion-content>
  <div class="">
    
      <ion-item *ngFor="let post of posts" (click)="showCities(post)" ion-button>
        <ion-label>{{post.name}}</ion-label>
 
      </ion-item>
    
  </div>
</ion-content>

