
<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="font-weight: 100">
       {{currentProvince}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<!--<ion-searchbar [(ngModel)]="city" (ionChange)="searchByCity($event)"></ion-searchbar>-->

<h1 style="text-align: center;font-weight:100">Select Your City</h1>

<ion-content>
  <div class="">
    
      <ion-item *ngFor="let city of cities" (click)="showChats(city)" ion-button>
        <ion-label>{{city.name}}</ion-label>
 
      </ion-item>
    
  </div>
</ion-content>
