



    .innerMessage{
        display: inline-block;
        padding: 5px 10px;
        background: #3880FF;
        margin:5px;
        color:white;
        border-radius: 3px;
        
    }

    ion-content{
        background-image: url("../../../content/chat-bg.jpg");
        background-size: cover;
    }







