

  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" Type="ios">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title style="font-weight: 100">
         {{city}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
 
  
  
  <ion-content padding class="chatscreen" #contents>
    <div id="chatMessages">

        <ion-grid>
            <ion-row *ngFor="let chat of chats">
    
              <ion-col size="9" *ngIf="username !==chat.username" class="message recieved">
                <b>{{chat.username}}</b><br>
                <span>{{chat.content}}</span>
                <div class="time" text-right><br>
                    {{chat.day | date :  "short"}}
                </div>
    
              </ion-col>

              <ion-col offset="3" size="9" *ngIf="username ===chat.username" class="message sent">
                  <b>{{chat.username}}</b><br>
                  <span>{{chat.content}}</span>
                  <div class="time" text-right><br>
                      {{chat.day | date :  "short"}}
                  </div>
      
                </ion-col>
    
            </ion-row>
          </ion-grid>
  
      
  
    </div>
  
  </ion-content>






    <ion-footer>
        <ion-toolbar color="light">
          <ion-row align-items-center no-padding>
            <ion-col size="10">
              <textarea autosize maxRows="3" [(ngModel)]="content" class="msgIn" placeholder="Write a message..."></textarea>
            </ion-col>
            <ion-col size="2">
              <ion-button expand="block" fill="clear" color="primary" [disabled]="content===''" class="btnSend" (click)="sendMessage()">
                <ion-icon name="ios-send" slot="icon-only"></ion-icon>
              </ion-button>
    
            </ion-col>
    
          </ion-row>
    
        </ion-toolbar>
    
    
      </ion-footer>





