ion-content {
    // --background: url("../../../content/chat-bg.jpg");
    //// background-image: url("../../../content/chat-bg.jpg");
    // background-size: cover;

    --background: none;
    //background-image: url("../../../content/chat-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
 }